<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-danger">
            <h4 class="card-title mt-0"> Student List</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="">
                  <th>
                    ID
                  </th>
                  <th>
                      Student Name
                  </th>
                  <th>
                      Total Score
                  </th>
                  <th>
                      Subject Numbers
                  </th>
                  <th>
                    Action
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let student of students">
                    <td>
                      {{student.student_id}}
                    </td>
                    <td>
                      {{student.student_name}}
                    </td>
                    <td>
                      {{student.total_score}}
                    </td>
                    <td>
                      {{student.subject_names.length}}
                    </td>
                    <td>
                      <button mat-raised-button class="btn btn-danger pull-left" [routerLink]="['/student-profile', student.id]">Edit</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
